@model CodeChallenge9.Customer

<h2>Customer Details for Order #10248</h2>
<ul>
    <li><strong>Name:</strong> @Model.ContactName</li>
    <li><strong>Company:</strong> @Model.CompanyName</li>
    <li><strong>Country:</strong> @Model.Country</li>
    <li><strong>City:</strong> @Model.City</li>
</ul>
